name: End2EndTests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-latest, windows-latest] # macos-latest, windows-latest]
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v2
    - name: Set Up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: "pip"
        cache-dependency-path: "setup.py"
    - name: Install Dependencies and Package
      run: |
        python -m pip install --upgrade pip
        python -m pip install .[pytorch]
    - name: Run End2End Tests
      working-directory: ./tests/end2end
      run: |
        ./runner.sh
